@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --app-bg: #bfdbfe;
    --sidebar-bg: #ffffff;
    --component-bg: #ffffff;
    --accent-color: #3b82f6;
    --text-color: #000000;
    --border-color: #000000;
    --shadow-color: #000000;
}

body {
    background-color: var(--app-bg);
    color: var(--text-color);
    font-family: 'Public Sans', sans-serif;
    transition: background-color 0.4s ease;
}

h1, h2, h3, button, .font-bold {
    font-family: 'Archivo Black', sans-serif;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: var(--app-bg);
  border-left: 3px solid var(--border-color);
}
::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border: 3px solid var(--border-color);
}